---
metaTitle: Team Dynamics and Soft Skills for Developers by Tony Alicea
---

{% extends 'page.njk' %}

{% block head %}
<style>
  
</style>
{% endblock %}

{% block body %}
<hgroup class="main-header">
  <img src="assets/openmind.png" style="max-width: 70px;" alt="A figure of a human head with an open padlock and arrows coming away from the head, implying a person's thinking is unlocked." />
  <h1 class="tony-card__title">Team Dynamics and<br />Soft Skills for Developers</h1>
  <p>The Missing Developer Education</p>
  <p class="credit">by Tony Alicea</p>
</hgroup>
<hr />
<section class="container">
  <p>Whether you've learned software development at a school, bootcamp, online, or are entirely self-taught, there is one key aspect to being a developer that you were likely never trained on: how to deal with people on a team.</p>
  <p>Developers are also team members and, eventually, may become managers. Yet, team dynamics and soft skills are never taught to coders.</p>
  <p>This course aims to fix that.</p>
</section>

<section class="container">
  <h2>How Will This Course Help Me?</h2>
  <p>
    As a coder, designer, and manager for 25 years, I can say that cohesive teams make the best software, and coders who are good communicators and positively contribute to team cohesiveness are rare and <em>extremely</em> valuable.
  </p>
  <p>This course will help you make those positive contributions. Along the way you will <b>enjoy your job more</b>, <b>communicate more effectively</b>, <b>build better software</b>, and maybe even <b>show yourself to be someone who can manage others</b> (if that's what you want to do).</p>
  <p>
    My goal is to help you to better understand the developers, designers, and managers you work with every day. I provide you a framework to help interact with your team members in the way that maximizes your chances of getting a positive outcome from that interaction.
  </p>
  <p>We accomplish that goal by examining two key topics:</p>
  <h3>Team Dynamics</h3>
  <div class="imagegrid">
  <img src="/assets/lightbulb.png" style="max-height: 100px;" alt="A lightbulb broken into jigsaw puzzle pieces." />
  <p>A team is a collection of people, and team dynamics is how those people interact with one another.<br /><br />Sometimes coders like to talk as if they're purely analytical, logical beings, not emotional. But that's false. Coders are people. People have various needs and many inputs that determine the output you get from them.</p>
  </div>
  <p>We will look at the kinds of "states" that individual team members can be in (I don't say "types" because people can change). Understanding those states helps us to adjust the way we present information to ease the path to a good outcome.</p> 
  <p>We also look at the basic human needs that everyone needs to be provided in order to have good interactions. Things like dignity, agency, and respect.</p>
  <h3>Soft Skills</h3>
  <div class="imagegrid">
  <img class="map" src="/assets/openmind.png" style="max-height: 100px;" alt="A figure of a human head with an open padlock and arrows coming away from the head, implying a person's thinking is unlocked." />
  <p>Soft skills are the particular skills that lead to clarity between team members and good team dynamics.<br /><br />Things like empathy, good communication, and conflict management.</p>
  </div>
  <p>In this course we'll discuss concrete, actionable things you can do that improve your soft skills, improving your day-to-day interactions with your team members.</p>
</section>

<section class="container">
  <h2>Communication Skills Are A Game Changer</h2>
  <div class="imagegrid">
  <img class="map" src="/assets/teamdynamicslogo1.png" style="max-height: 100px;" alt="Two people shaking hands and talking." />
  <p>Poor communication between team members is an underreported reason for software development failures, scope creep, and bugs.<br /><br />When you learn to communicate better, you improve the quality of your team and the software it produces.</p>
  </div>
  <p>You'll learn how to communicate in the specific areas of dev team communication. Things like DMs, e-mail, code reviews, and even your code itself.</p>
</section>

<section class="container">
  <h2>Managing Developers Is Its Own Skill</h2>
  <div class="imagegrid">
  <img class="map" src="/assets/leadership.png" style="max-height: 100px;" alt="One person guiding another up a flight of stairs. The person going up the stairs is holding a flag." />
  <p>No one tells you how to manage devs. Yet you may be asked to do just that (or already are!).<br /><br />There are unique challenges to managing developers and you'll learn techniques to deal with those challenges.</p>
  </div>
  <p>You'll learn how to motivate devs, how to deal with crisis (like major bugs), and how to help developers grow as coders and team members.</p>
  <p>...oh, and we'll talk about managing yourself as well. In particular your <em>view</em> of yourself, and how that can help you travel through your career with a healthy sense of your own value.</p>
</section>

<section class="container">
  <h2>The Curriculum</h2>
  <p>The course contains <b>5 hours of video</b> and is split into <b>11 modules</b>.</p>
  <p></p>
  <p><b>Here's the full curriculum</b> (select a module for more details):<br /><br /></p><hr />
  <details><summary>Introduction</summary>
<ul>
  <li>Introduction</li>
  <li>Team Dynamics and Soft Skills</li>
</ul>
</details>
<details><summary>People and Needs</summary>
<ul>
  <li>People and Needs</li>
  <li>Dignity</li>
  <li>Respect</li>
  <li>Agency</li>
  <li>Belonging</li>
  <li>Knowledge and Understanding</li>
</ul>
</details>
<details><summary>Inputs/Outputs</summary>
<ul>
  <li>Inputs/Outputs</li>
  <li>Triggers and Responses</li>
  <li>Adapting to People</li>
</ul>
</details>
<details><summary>The Dev States</summary>
<ul>
  <li>The Dev States</li>
  <li>The Newbie</li>
  <li>The Overconfident Intermediate</li>
  <li>The Imposter</li>
  <li>The Been Around Awhile</li>
  <li>The Loner Genius</li>
  <li>The Mentor</li>
</ul>
</details>
<details><summary>The Designer States</summary>
<ul>
  <li>The Designer States</li>
  <li>The Starving Artist</li>
  <li>The Pseudo-dev</li>
  <li>The Practitioner</li>
</ul>
</details>
<details><summary>The Manager States</summary>
<ul>
  <li>The Manager States</li>
  <li>The Former Dev</li>
  <li>The Non-Technical</li>
  <li>The Worth-Prover</li>
  <li>The Leader</li>
</ul>
</details>
<details><summary>Communication</summary>
<ul>
  <li>Communication</li>
  <li>Email</li>
  <li>Direct Message</li>
  <li>Video Conference</li>
  <li>In-Person</li>
  <li>Code</li>
  <li>Code Reviews</li>
</ul>
</details>
<details><summary>Managing Devs</summary>
<ul>
  <li>Managing Devs</li>
  <li>Everything is a Problem (to Solve)</li>
  <li>Growth</li>
  <li>Agency</li>
  <li>Respect</li>
  <li>Correction</li>
  <li>Praise</li>
  <li>State Transitions</li>
</ul>
</details>
<details><summary>Problem Panic to Problem Solving</summary>
<ul>
  <li>Problem Panic to Problem Solving</li>
  <li>Take a Breath</li>
  <li>Be Honest</li>
  <li>Be Empathetic and Determined</li>
  <li>It's Not Shocking</li>
  <li>Breathing Room</li>
  <li>Focus on the Problem, Not the People</li>
  <li>Challenge Assumptions</li>
</ul>
</details>
<details><summary>Your View of Yourself</summary>
<ul>
  <li>Your View of Yourself</li>
  <li>Humility</li>
  <li>Modesty</li>
  <li>Self-Confidence</li>
  <li>Joining a Company</li>
  <li>Handling Promotion</li>
  <li>Leaving a Company</li>
</ul>
</details>
<details><summary>Conclusion</summary>
<ul>
  <li>Team Dynamics and Soft Skills PDF</li>
  <li>More help for you and your team</li>
  <li>Conclusion</li>
  <li>Thank you (and your feedback)!</li>
</ul>
</details>
<hr />
</section>

<section class="container">
  <hgroup class="quotes-header">
    <h2>What Others Are Saying</h2>
    <p>&#9733;&#9733;&#9733;&#9733;&#9733;</p>
  </hgroup>
  <div class="quotegrid">
    <article><p>A great course and something every junior and intermediate dev should watch, along with some senior devs who want to improve their soft skills.</p> <p>- Christopher B.</p></article>
    <article><p>Thank you Tony for this excellent course. Once again you help me understand things in a deeper level, and see many things that was happening around me all this time more clearly.</p><p>- Theodoros M.</p></article>
  </div>
</section>

<section class="container">
  <h2>Watch Some Tips For Free</h2>
  <p>
    Still not sure if the course is for you? I put some of my favorite tips from the course for free on my YouTube channel. So if you aren't sure, start watching!
  </p>
  <div class="video">
    <iframe width="560" height="315" style="max-width: 100%" src="https://www.youtube.com/embed/ddkSMURGfzY?si=SzIJMy160uhyq-2y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</section>

<section class="container aboutme-container">
  <h2>About Me</h2>
  <div class="aboutme">
    <div class="headshot"><img src="/assets/tonyheadshot.jpg" alt="Tony Alicea headshot" /></div>
    <p><b>Hi, I'm Tony Alicea.</b> I've been an dev team manager, application developer, database architect, UX designer, and tech educator for over 25 years.<br /><br /><strong>Over 350,000 students</strong> have enrolled in my courses on Udemy, Pluralsight, and Teachable (where this course is hosted). You can read more about me and my courses <a href="https://tonyalicea.dev/courses">on my site</a>.</p>
  </div>
</section>

<section class="container enroll-container">
  <hgroup>
    <a name="enroll"></a>
    <img class="altlogo" src="/assets/face1.png" alt="Happy face" />
    <h2>Join and Improve Your Dev Life</h2>
    <p>Soft skills will forever benefit your dev career.
  </hgroup>
  <article class="enroll-form">
    <h3 class="enroll-header">Team Dynamics and<br />Soft Skills For Developers</h3>
    <p class="price" id="price">$29</p><!--<label style="display: none;">For Individuals&nbsp;&nbsp;<input name="teams" type="checkbox" role="switch" />For Teams</label>-->
    <p class="lifetime"><b>SPECIAL INTRODUCTORY PRICE</b></p>
    <p class="lifetime">Lifetime Access</p>
    <p class="lifetime">Tax/VAT Included</p>
    <a id="buy-link" href="https://dontimitateunderstand.com/purchase?product_id=5494370"><button>Buy Now</button></a>
    <p>INCLUDES</p>
    <ul class="enroll-list">
      <li>&check; 5 hours of video</li>
      <li>&check; 58 lectures</li>
      <li>&check; Free companion PDF</li>
      <li>&check; Certificate of completion</li>
      <li>&check; Questions answered by me personally</li>
      <li>&check; Free future updates</li>
    </ul>    
  </article>
</section>

<section class="container">
  <h2>FAQs</h2>
  <details>
    <summary>Do you offer team discounts?</summary>
    Yes! To request a discount for multiple seats for your team contact <a href="mailto:support@tonyalicea.dev">support@tonyalicea.dev</a>.
  </details>
  <details>
    <summary>Is this a subscription?</summary>
    No. This is a one time purchase for lifetime access to the course and all future updates.
  </details>
</section>

<script>
  const targetURL = 'https://dontimitateunderstand.com/purchase';
  const productID = '5494370';
  const setPrice = "SET_PRICE";
  const price = "LIST_PRICE";

  // Set price if coupon code passed
  if (setPrice === "YesSetPrice") {
    document.getElementById("price").innerHTML = '$' + price;
  }

  // Get the current URL's query string parameters
    const queryString = window.location.search;

  // Redirect to the target URL with the query string parameters
  document.getElementById("buy-link").href = targetURL + (queryString ? queryString + '&' : '?')+ 'product_id=' + productID; 
</script> 
{% endblock %}