{% extends 'page.njk' %}

{% block head %}
<script>
  (function(w, d, t, h, s, n) {
    w.FlodeskObject = n;
    var fn = function() {
      (w[n].q = w[n].q || []).push(arguments);
    };
    w[n] = w[n] || fn;
    var f = d.getElementsByTagName(t)[0];
    var v = '?v=' + Math.floor(new Date().getTime() / (120 * 1000)) * 60;
    var sm = d.createElement(t);
    sm.async = true;
    sm.type = 'module';
    sm.src = h + s + '.mjs' + v;
    f.parentNode.insertBefore(sm, f);
    var sn = d.createElement(t);
    sn.async = true;
    sn.noModule = true;
    sn.src = h + s + '.js' + v;
    f.parentNode.insertBefore(sn, f);
  })(window, document, 'script', 'https://assets.flodesk.com', '/universal', 'fd');
</script>
{% endblock %}

{% block body %}
<article class="post">{{ content | safe }}</article>
<article class="mailing-list">
  <div id="fd-form-654c34a2f58f74816ab58ded"></div>
  <script>
    window.fd('form', {
      formId: '654c34a2f58f74816ab58ded',
      containerEl: '#fd-form-654c34a2f58f74816ab58ded'
    });
  </script>
</article>
{% endblock %}