{% extends 'page.njk' %}

{% block body %}
<a href="{{ site.baseUrl }}projects/html-recipes" class="breadcrumb margin-block-start"> &laquo; Recipes</a>
<article class="post recipe">{{ content | safe }}</article>
<p class="margin-block-start-xlarge">Deeply understand semantic HTML authoring and CSS with my course:<br /><b><a href="https://www.udemy.com/course/understanding-html-and-css/?referralCode=29ED997A126F1B7FF1DF">Understanding HTML and CSS</a></b>.</p>
{% endblock %}