<section class="course-list">
    <article class="course">
        <a class="course__link" href="http://understandingreact.com">
            <img class="course__image" src="/assets/course_react.jpg" />
            <h2 class="margin-block-0 posts__title">Understanding React</h2>
        </a>
        <p>My newest tech course! 16.5 hours. Deeply understand React by diving under-the-hood of React's source code and breaking down React internals. Even if you've used React for years you likely have an inaccurate mental model. Build and debug React better by understanding how it really works. Covers Fiber, Hooks, Context, Suspense, a final project, and more. Watch the beginning for free!</p>
        <aside class="course-banner">NEW</aside>
    </article>
    <article class="course">
        <a class="course__link" href="https://www.udemy.com/course/understanding-html-and-css/?referralCode=29ED997A126F1B7FF1DF">
            <img class="course__image" src="/assets/course_htmlcss.jpg" />
            <h2 class="margin-block-0 posts__title">Understanding HTML and CSS</h2>
        </a>
        <p>12,000 Students | 16 Hours</p>
        <p><br />Most web developers don't know HTML or CSS very well, hurting the SEO, accessibility, and maintainability of their websites and apps. Learn semantic HTML and CSS at the browser-rendering engine level. Future-proof your skills by learning to read the HTML and CSS specifications.</p>
        <aside class="course-banner">UPDATED</aside>
    </article>
    <article class="course">
        <a class="course__link" href="http://teamdynamics.dev">
            <img class="course__image" src="/assets/course_teamdynamics.jpeg" />
            <h2 class="margin-block-0 posts__title">Team Dynamics and Soft Skills for Developers</h2>
        </a>
        <p>The missing dev education. Bootcamps and universities don't teach you how to survive in your day-to-day interactions with dev team members, or deal with unique dev team stresses. This course shows you how to understand, communicate, and interact with your dev team members.</p>
        <aside class="course-banner">NEW</aside>
    </article>
    <article class="course">
        <a class="course__link" href="https://www.udemy.com/course/understand-javascript/?referralCode=7E5C6727F7959934C311">
            <img class="course__image" src="/assets/course_jsweirdparts.jpg" />
            <h2 class="margin-block-0 posts__title">JavaScript: Understanding the Weird Parts</h2>
            <aside class="course-banner">POPULAR</aside>
        </a>
        <p>191,000 Students | 12 Hours</p>
        <p><br />Thousands of students credit this course with changing the course of their development career. Learn how JavaScript works under-the-hood at the JavaScript engine level.</p>
    </article>
    <article class="course">
        <a class="course__link" href="https://www.udemy.com/course/javascript-understanding-es6-and-beyond/?referralCode=4C76A312761FF4720DC8">
            <img class="course__image" src="/assets/course_es6.jpg" />
            <h2 class="margin-block-0 posts__title">JavaScript: Understanding ES6 and Beyond</h2>
        </a>
        <p>5,000 Students</p>
        <p><br />The sequel to Understanding the Weird Parts, building on the things we learn there, we dive into the latest features in the JavaScript language.</p>
    </article>
    <article class="course">
        <a class="course__link" href="https://www.udemy.com/course/understand-nodejs/?referralCode=E4D3B311F7B1344C3CCB">
            <img class="course__image" src="/assets/course_nodejs.jpg" />
            <h2 class="margin-block-0 posts__title">Learn and Understand NodeJS</h2>
        </a>
        <p>130,000 Students | 13 Hours</p>
        <p><br />Learn how to use NodeJS by learning how it (and other JavaScript runtimes) really work.</p>
    </article>
    <article class="course">
        <a class="course__link" href="https://www.udemy.com/course/learn-angularjs/?referralCode=24B7E651C14D3D3ED6A7">
            <img class="course__image" src="/assets/course_angularjs.jpg" />
            <h2 class="margin-block-0 posts__title">Learn and Understand AngularJS</h2>
        </a>
        <p>99,000 Students | 7 Hours</p>
    </article>
</section>