{% for post in posts %}
        {% if not post.data.draft %}
        {%- if not post.data.isGiBi -%}
            <h2 class="posts__title">
                <a href="{{ post.url | url }}">
                    {{ post.data.title }}
                </a>
            </h2>

            <p class="posts__date margin-block-end" datetime="{{ post.data.date }}">
                Posted on {{ post.data.date | dateDisplay }}
            </p>

            <p class="posts__excerpt">{{ post.data.excerpt }}</p>

            {% for tag in post.data.tags %}
                {%- if tag !== "post" -%}
                {%- if tag !== "gibi" -%}
                {%- if tag !== "front-page" -%}
                {%- if tag !== "recipe" -%}
                    <a class="tag {{ tag | replace('.', '') }}" href="{{ site.baseUrl }}tag/{{ tag }}">{{ tag }}</a>
                {%- endif -%}
                {%- endif -%}
                {%- endif -%}
                {%- endif -%}
            {% endfor %}
        {%- endif -%}
        {% endif %}
    {% endfor %}